.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    'header header header header'
    'sidebar content content content'
    'sidebar content content content';
}

.grid-container div {
  border: 1px solid black;
}

.grid-nav {
  grid-area: header;
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-content {
  grid-area: content;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      'header header header header'
      'sidebar sidebar sidebar sidebar'
      'content content content content';
  }
}
